@{
    Layout = "~/Views/shared/Master.cshtml";
}
<div class="row mt-3">
    <div class="col-md-12">
        <h5 class="text-primary text-center">Editar Recrutadora</h5>
    </div>
</div>
<div>
    <form action="/Recrutadora/Update" method="post">

        <input type="hidden" name="Recrutadora.id" value="@ViewBag.Recrutadora.Id" class="form-control" />
        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="Recrutadora.Nome" id="campo-nome" value="@ViewBag.Recrutadora.Nome" required="required" />
            @Html.ValidationMessage("Recrutadora.Nome", new { @class = "text-danger" })
        </div>
        <div>
            <label for="campo-cpf">CPF</label>
            <input type="text" name="Recrutadora.CPF" id="campo-cpf" value="@ViewBag.Recrutadora.CPF" required="required" />
            @Html.ValidationMessage("Recrutadora.CPF", new { @class = "text-danger" })
        </div>
        <div>
            <label for="campo-salario">Salário</label>
            <input type="text" name="Recrutadora.Salario" id="campo-salario" value="@ViewBag.Recrutadora.Salario" required="required" />
            @Html.ValidationMessage("Recrutadora.Salario", new { @class = "text-danger" })
        </div>
        <div>
            <label for="campo-tempo-empresa">Tempo Empresa</label>
            <select id="campo-tempo-empresa" name="Recrutadora.TempoEmpresa ">

                @for (int i = 0; i < 7; i++)
                {
                    if (i == @ViewBag.Recrutadora.TempoEmpresa)
                    {
                        <option value="@i" selected="selected">@i anos</option>
                    }
                    else
                    {

                        <option value="@i" class="dropdown-item">@i anos</option>
                    }
                }
            </select>
            @Html.ValidationMessage("Recrutadora.TempoEmpresa", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-success float-right" value="Salvar"><i class="fa fa-save">Salvar</i></button>
            </div>
        </div>

    </form>
</div>
