@{
    Layout = "~/Views/shared/Master.cshtml";
}


@Html.ActionLink("Novo Recrutadora", "Cadastro", "Recrutadora", new { @class = "btn btn-outline-light float-right mb-2 mt-2" })

<div class="m-3 ml-3">
    <table>
        <thead class="table table-striped table-hover">
            <tr class="bg-primary text-white">
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ExemploMVC02.Models.Recrutadora recrutadora in @ViewBag.Recrutadoras)
            {
                <tr>
                    <td>@recrutadora.Id</td>
                    <td>@recrutadora.Nome</td>
                    <td>@recrutadora.CPF</td>
                    <td>
                        <a href="/Recrutadora/Editar?id=@recrutadora.Id" class="btn btn-outline-success"><i class="fas fa-edit"></i>Editar</a>
                        <a href="/Recrutadora/Excluir?id=@recrutadora.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i>Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ação</th>
            </tr>
        </tfoot>
    </table>
</div>
